h1 {
    text-align: center;
   }
   
   section {
       background-color: rgb(252, 238, 50);
   }
   
   body {
       background-color: rgb(228, 228, 228);
   }
   
   h4 {
       text-align: center;
   }
   
   